@import url('./custom.css');

body{
    background: var(--body-color);
    font-family: vazir;
    color: #fff;
}

.title-header{
    font-size: 5rem;
    color: var(--theme-color);
}

#input-box-add-todo:focus{
    outline: none;
    appearance: none;
    border: 1px solid var(--theme-color);
    box-shadow: 0 0 20px 0px var(--theme-color);
}

.btn{
    border: 2px solid var(--theme-color);
    color: #fff;
}

.btn:hover{
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
}

@media screen and (max-width: 500px) {
    .title-header{
        font-size: 3.8rem;
        color: var(--theme-color);
    }
}