@import url('./custom.css');

body{
    background: var(--body-color);
    font-family: vazir;
    color: #fff;
    line-height: 1.2rem;
}

.title-header{
    font-size: 5rem;
    color: var(--theme-color);
}

#input-box-add-todo:focus{
    outline: none;
    appearance: none;
    border: 1px solid var(--theme-color);
    box-shadow: 0 0 20px 0px var(--theme-color);
}

.btn-add-todo,
.btn-clear-all-todo{
    border: 2px solid var(--theme-color);
    color: #fff;
}

.btn-clear-all-todo:hover,
.btn-add-todo:hover{
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
}

.card-body{
    text-align: justify;
}

.card-menu{
    appearance: none;
    outline: none;
    border: none;
    background: none;
    overflow: hidden;
    width: 1.2rem;
    text-align: center;
    padding: 2px 0;
}

.dropdown-item{
    cursor: pointer;
}

.text-date{
    font-size: 0.8rem;
}

.like-remove-todo,
.dislike-remove-todo{
    border: 2px solid var(--theme-color);
}

.like-edit-todo,
.dislike-edit-todo{
    border: 2px solid var(--theme-color);
}

.input-update-text-todo:focus{
    outline: none;
    appearance: none;
    border: 1px solid var(--theme-color);
    box-shadow: 0 0 20px 0px var(--theme-color);
}

@media screen and (max-width: 500px) {
    .title-header{
        font-size: 3.8rem;
        color: var(--theme-color);
    }
}